# build folder
dist/

# minified svg files:
src/maps/districts.json
src/maps/states.json

Fallzahlen/meta/*.json
Fallzahlen/new/*.json
Fallzahlen/history/*.json
Fallzahlen/frozen-incidence/*.json
Fallzahlen/recoveredData/*.json
updater/Fallzahlen/meta/*.json
updater/Fallzahlen/new/*.json
updater/Fallzahlen/history/*.json
updater/Fallzahlen/frozen-incidence/*.json
updater/Fallzahlen/recoveredData/*.json
