# build folder
dist/

# minified svg files:
src/maps/districts.json
src/maps/states.json

dataStore/meta/*.json
dataStore/new/*.json
dataStore/history/*.json
dataStore/frozen-incidence/*.json
dataStore/recoveredData/*.json
updater/dataStore/meta/*.json
updater/dataStore/new/*.json
updater/dataStore/history/*.json
updater/dataStore/frozen-incidence/*.json
updater/dataStore/recoveredData/*.json
